
<!-- NAVBAR GOES HERE -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Six Degrees</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Login  <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
        <li><a href="">Sign Up  <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
<!-- Components go here below -->
<div id="main" class="content">
	<!-- Here different components are displayed based on the current routed component -->
	<router-outlet></router-outlet>
</div>