<h1>
	Create Challenge
</h1>
<div class="container">
	<div class="row">
		<form id="create_acc_user_form" class="create_acc_forms" role="form">
			<fieldset>
			<div class="form-group">
			<label for="np_name"> Non-profit</label>
			<input type="text" class="form-control" id="first_name" aria-describedby="fnameHelp" placeholder="Enter first name">
			<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
			</div>
			<div class="form-group">
				<label for="last_name">Last Name</label>
				<input type="text" class="form-control" id="last_name" aria-describedby="lnameHelp" placeholder="Enter last name">
				<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
			</div>
			<div class="form-group">
			<label for="user_email">Email</label>
			<input type="email" class="form-control" id="user_email" placeholder="Enter your email">
			</div>
			<div class="form-group">
				<label for="user_pass">Password</label>
				<input type="password" class="form-control" id="user_pass" placeholder="Enter a password">
			</div>
			<div class="form-group">
					<label for="user_pass_conf">Confirm Password</label>
					<input type="password" class="form-control" id="user_pass_conf" placeholder="Confirm the password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</fieldset>
		</form>
	</div>
</div>
