<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <h1>
        Invite People
    </h1>
    <div class="row">
    <form id="invite_people_form" class="mx-auto center-text" role="form">
    <div class="form-group">
        <label for="c_name">Challenge Name</label>
        <input type="text" [(ngModel)]="this.c_name" name="c_name" class="form-control" id="c_name" placeholder="Challenge Name" disabled>
    </div>
    <div class="form-group">
        <label for="np_name">Nonprofit Name</label>
        <input type="text" [(ngModel)]="this.np_name" name="np_name" class="form-control" id="np_name" placeholder="Non-profit Organization Name" disabled>
    </div>
    <div class="form-group">
				<label for="email1">Invite 1</label>
				<input type="email" [(ngModel)]="this.email1" name="email1" class="form-control" id="email1" placeholder="Enter first invite email">
			  <!-- <small id="inviteHelp" class="form-text text-muted"></small> -->
    </div>
    <div class="form-group">
				<label for="email2">Invite 2</label>
				<input type="emai2" [(ngModel)]="this.email2" name="email2" class="form-control" id="email2" placeholder="Enter second invite email">
			  <!-- <small id="inviteHelp" class="form-text text-muted"></small> -->
    </div>
    <div class="form-group">
				<label for="email3">Invite 3</label>
				<input type="email" [(ngModel)]="this.email3" name="email3" class="form-control" id="email3" placeholder="Enter third invite email">
			  <!-- <small id="inviteHelp" class="form-text text-muted"></small> -->
    </div>
    <div class="form-group">
				<label for="email4">Invite 4</label>
				<input type="email" [(ngModel)]="this.email4" name="email4" class="form-control" id="email4" placeholder="Enter fourth invite email">
			  <!-- <small id="inviteHelp" class="form-text text-muted"></small> -->
    </div>
    <div class="form-group">
				<label for="email5">Invite 5</label>
				<input type="email" [(ngModel)]="this.email5" name="email5" class="form-control" id="email5" placeholder="Enter fifth invite email">
			  <!-- <small id="inviteHelp" class="form-text text-muted"></small> -->
    </div>
    <div class="form-group">
				<label for="email6">Invite 6</label>
				<input type="email" [(ngModel)]="this.email6" name="email6" class="form-control" id="email6" placeholder="Enter last invite email">
			  <!-- <small id="inviteHelp" class="form-text text-muted"></small> -->
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>