<!--The content below is only a placeholder and can be replaced.-->

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" [(ngModel)]="this.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="Challenge">Challenge</label>
    <input type="challenge" [(ngModel)]="this.c_id" class="form-control" id="Challenge" placeholder="Challenge">
  </div>
  <div class="form-check">
    <label class="form-check-label">

    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
