<h1>
	View Profile
</h1>
<div class="container">
	<div class="row">
		<h2 id="userName" class="mx-auto">{{name}}'s Profile</h2>
	</div>
	<div class="container">
			<div class="row">
					<div class="col-sm">
							<div class="card bg-light mb-3" style="max-width: 50rem;">
									<div class="card-header">Achievements</div>
									<div class="card-body">
									  <!-- <h4 class="card-title">Completed Challenges</h4> -->
									  <table class="table table-bordered">
											<tbody>
												<tr style="text-align:center;">
													<td id="challenge"><img src="http://icons.iconarchive.com/icons/seanau/fresh-web/512/Badge-icon.png" alt="Smiley face" height="150" width="150"></td>
													<td id="val"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Circle-icons-trophy.svg/1024px-Circle-icons-trophy.svg.png" alt="Smiley face" height="150" width="150"></td>
												</tr>
											</tbody>
										</table>						</div>
								  </div>
					</div>
				</div>
	<div class="row">
		<div class="col-sm">
				<div class="card bg-light mb-3" style="max-width: 50rem;">
						<div class="card-header">Completed Challenges</div>
						<div class="card-body">
						  <!-- <h4 class="card-title">Completed Challenges</h4> -->
						  <table class="table table-bordered">
								<thead>
									<tr>
										<th>Challenge</th>
										<th>Non-Profit</th>
										<th>Degree After</th>
										<th>Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let comp of completed; let i = index;" (click)="goToCompletedChallenge(i)">
										<td>{{comp.c_id}}</td>
										<td>{{comp.user_id}}</td>
										<td>{{comp.a_id}}</td>
										<td>{{amount}}</td>
									</tr>
									<!-- <tr>
										<td id="challenge">ALS Challenge</td>
										<td id="val">ALS</td>
										<td id="degree">3</td>
									</tr>
									<tr>
										<td id="challenge">Animal Challenge</td>
										<td id="val">Animal Shelter</td>
										<td id="degree">6</td>
									</tr> -->
								</tbody>
							</table>						</div>
					  </div>
		</div>
	</div>
		<div class="row">
		<div class="col-sm">
		<div class="card bg-light mb-3" style="max-width: 50rem;">
				<div class="card-header">Pending Challenges</div>
				<div class="card-body">
					<h5 class="card-title">Click to view invites</h5>
					<div class="col-sm">
							<table class="table table-bordered">
								<thead>
									<tr>
									<td>Challenge ID</td>
									<td>User From</td>
								</tr>
								</thead>
								<tbody>
										<!-- <tr *ngFor="let pen of pending; let i = index" (click)="goToChallenge(i)">
												<td class="btn btn-primary">View Invite #: {{pen.challenge_id}}							</td>
											</tr> -->
											<tr *ngFor="let pend of pending; let i = index" (click)="goToPendingChallenge(i)">
												<td>{{pend.c_id}}</td>
												<td>{{pend.u_id1}}</td>
											</tr>
								</tbody>
							</table>
						</div>
					</div>
		</div>
		</div>
		<!-- <div class="col-sm">
				<div class="card bg-light mb-3" style="max-width: 20rem;">
		<div class="card-header"></div>
		<div class="card-body">
				<h4 class="card-title">Completed Invites</h4>
			<div class="col-sm">
					<table class="table table-bordered">
						<tbody>
							<tr *ngFor="let comp of completed; let i = index" (click)="goToChallenge(i)">
								<td class="btn btn-primary">View Invite# :{{comp.challenge_id}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div> -->
	</div>

	</div>
</div>
